@CHARSET "UTF-8";
/*所有可显示的文件都要加上html.css*/

html, body {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
 	line-height:1.6em;
	margin:auto;
}
 
html {
	font-size:100%;
}

body {
	/*background-image:url('../image/6629840829_61ac911854_b1.jpeg-bodybg.jpg');*/
	width:1000px;
	background-color:rgb(24, 224, 128);
	border-left:solid black 1px;
	border-right:solid black 1px;
}

div {
	display:block;
}

form {
	display:block;
}
